# Visual Studio cache/build directories
.vs/
Debug/
Release/
x64/
x86/
[Dd]ebug/
[Rr]elease/

# Build results
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.log
*.tlog
*.lastbuildstate
*.recipe
*.iobj
*.ipdb

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
